* {
    box-sizing: border-box;
    background: #f2f2f2;
}

.container {
    padding: 10px;
}

input[type=text], input[type=password] {
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.loginbtn {
    font-size: large;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}

a {
    color: dodgerblue;
}

.signin {    
    background: #f2f2f2;
    text-align: center;
}