<div class = "container">
    <section class="contact-page">
		<div class="container">
			<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe></div>
			<div style="width: 80%; margin-left: 10%;"> 
				<div>
				<form class="contact-form">
					<input type="text" [(ngModel)] = "name" placeholder="Enter Firstname" name="firstname" required>
					<input type="text" placeholder="Your e-mail" [(ngModel)] = "name">
					<input type="text" placeholder="Subject">
					<textarea placeholder="Message"></textarea>
					<button class="site-btn">Send message<img src="assets/img/icons/double-arrow.png" alt="#"/></button>
				</form>
			</div>

			<div *ngIf = "name">
				<h3>{{name}}, Say hello</h3>
			</div>

			<div *ngIf = "!name">
				<h3>Guest, Say hello</h3>
			</div>
				
			
		
			<p style="font-size: 18px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....</p>
			<div class="cont-info">
				<div class="ci-icon"><img src="assets/img/icons/location.png" alt=""></div>
				<div class="ci-text">KBTU, Alamty city</div>
			</div>
			<div class="cont-info">
				<div class="ci-icon"><img src="assets/img/icons/phone.png" alt=""></div>
				<div class="ci-text">+7(777)777-77-77</div>
			</div>
			<div class="cont-info">
				<div class="ci-icon"><img src="https://cdn.discordapp.com/attachments/697753247167021067/697819465093742601/mail.png" alt=""></div>
				<div class="ci-text">EndGame@gmail.com</div>
			</div>
			</div>
			
		</div>		
	</section>
</div>