.container{
  min-height:1800px;
  padding:10px;
  color:white;
  width: 80%;
  margin-left: 10%;
}

.revmain{
  width: 100%;
  margin-top: 15px;
  min-height: 350px;
  background: url('https://i.gifer.com/4I8s.gif') no-repeat;
  background-size: 100%;
}

.checked {
  color: orange;
}

* {box-sizing: border-box}


.photoContainer {
margin-top:50px;
position: relative;
width: 36,36363636363636%;
float:left;
max-width: 300px;
}


.image {
display: block;
width: 300px;
height: 390px;
border-radius: 12px;
}


.button {
  border-radius: 8px;
  background-color: #0688fa;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.label {
  color: white;
  padding: 8px;
  margin-top: 10px;
}

.success {
  background-color: #4CAF50;
  border-radius: 4px;
}

.reviewMain{
padding-left: 40px;
padding-top: 30px;
}

.choosing{
font-style: oblique;
font-weight: bold;
font-size:18px;
}

.reviewColor{
color:blue;
}

.insideDiv{
margin-left: 50px;
margin-top: 30px;
width:63,63636363636363%;
float: right;
}

.hpStyle{
color: black;
text-align: justify;
}

.hrefStyle{
text-decoration: none;
color:black;
}

input[type=text], select, textarea{
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
resize: vertical;
}


label {
padding: 12px 12px 12px 0;
display: inline-block;
}


input[type=submit] {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
float: right;
}

.inside {
border-radius: 10px;
background-color: #f2f2f2;
padding: 20px;
}

.col-25 {
float: left;
width: 25%;
margin-top: 6px;
}

.col-75 {
float: left;
width: 75%;
margin-top: 6px;
}

.row:after {
content: "";
display: table;
clear: both;
}

@media screen and (max-width: 600px) {
.col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
}
}

img:hover {
animation: shake 0.5s;
animation-iteration-count: infinite;
}

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media screen and (max-width: 720px) {
.photoContainer,.insideDiv {
  width: 100%;
  float: none;
}
}

.mainContainer{
display: flex;
width: 100%;
max-width: 1100px;
margin:0 auto;
}

.Acme20{
font-family: 'Acme';
font-size: 20px;
color:black;
}

.Acme36Black{
font-family: 'Acme';
font-size: 36px;
color:black;
}

.Acme36{
font-family: 'Acme';
font-size: 36;
}

.Averia16Black{
font-family: 'Averia Gruesa Libre';
font-size: 16px;
color:black;
}